.site-title a{color:#111;font-size:30px;line-height:36px;text-decoration:none;}
.site-description{color:#7A7A7A;font-size:14px;}
.sidebar h5.title{color:#999;font-size:10px;font-weight:500;letter-spacing:0.1em;line-height:2.6em;}
.cur-title{color:#666;font-size:10px;font-weight:500;letter-spacing:0.1em;line-height:2.6em;margin:0 0 2.6em;text-transform:uppercase;}
.entry{padding:10px 0px;border-bottom:1px dashed #DDD;position:relative;}
.entry .time{text-align:center;box-shadow:inset 1px 1px 5px gray;color:white;background-color:#70CFFF;font-size:12px;height:60px;width:60px;}
.entry .time .day{font:28px/36px Georgia}
.entry .entry-title{font-size:24px;line-height:24px;border-bottom:1px solid #08C;margin-top:16px;}
.entry .entry-title a:hover{text-decoration:none;}
.entry .entry-content{padding:10px;}
.post .post-title{text-align:center;font-size:28px;font-weight:bold;margin:16px 0px;}
.post .meta-date{font-family:Georgia,serif;font-size:16px;text-align:center;color:#999}
.post .content{padding:10px 0px;line-height:26px;}
.comment{padding:10px 0px;border-bottom:1px dashed #DDD;}
.comment .comment-meta{background-color:#F5F4F6;}
.comment .comment-content{padding-left:10px;}
.comments{margin-bottom:10px;}
#respond{width:390px;padding:10px;border:1px solid #DDD;border-radius:5px;}
.reply-op{display:none;}
.btn-more{position:absolute;bottom:10px;right:10px;}
